[submodule "sde-rest-advanced-api"]
	path = sde-rest-advanced-api
	url = https://github.com/RobertoNegro/sde-rest-advanced-api.git
[submodule "sde-rest-advanced-frontend"]
	path = sde-rest-advanced-frontend
	url = https://github.com/GiuliaPeserico/sde-rest-advanced-frontend.git
[submodule "sde-rest-advanced-data"]
	path = sde-rest-advanced-data
	url = https://github.com/RobertoNegro/covid-19.git
